
.pathes{
    margin-left: 20px;
    display: inline;
    cursor: pointer  ;
}
.pathes:hover{
    color: #F63F30;
}

.maincontentcart{
    margin-left: 470px;
    display: block;
    justify-content: center;
    align-items: center;
    color: #666;
}

.maincontentcart p{
    margin-left: 29px;
}

.maincontentcart button{
    margin-left: 90px;
    border-width: 0;
   background-color: #939090;
   border-radius: 5px;
   padding: 7px 20px;
}

.maincontentcart button a{
    text-decoration: none;
    color: white;
}